<mat-toolbar  color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Memerator</span>
</mat-toolbar>
<br>
<div class="container">
  <mat-card class="my-card">
    <!-- TODO La imagen solo se de cargar mediante el boton "cargar imagen" -->
    <img class="my-card" src="https://mockupfreedownloads.com/wp-content/uploads/2020/03/Awesome-Square-Box-Mockup-PSD-Template-1-1000x750-1.jpg" alt="">
  </mat-card>
</div>
<br>
<div class="container">
  <button (click)="alerta()" class="my-button" mat-raised-button color="primary">Cargar imagen</button>
</div>
<br>
<div class="container">
  <button class="my-button" mat-raised-button color="primary">Editar</button>
</div>